<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="black.css" media="screen" />
  <title>Kihívás-Rögzített felső navigáció</title>
</head>
<body>
<nav>
  <a href="#"  class="sign-up">Sign Up</a>
  <a href="#" >Sign In</a>
  <a href="#" >About</a>
  <a href="#" class="home">Home</a>
</nav>
<div>
    <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a metus mattis, vehicula nisl accumsan, molestie purus. In et magna est. Fusce et porttitor lectus, et tempor felis. Fusce id est accumsan, placerat urna at, tempor erat. Mauris tincidunt sodales erat. Cras dictum commodo placerat. In pretium leo nec lorem vestibulum bibendum. Nunc erat dolor, viverra non facilisis ac, efficitur vel purus. Nulla facilisi. Pellentesque ac libero vitae neque vulputate ultricies ut id sem. Sed bibendum scelerisque tempor. Sed rutrum augue in nisl ultrices consectetur a sed erat. Donec massa ipsum, luctus vitae lacus non, sollicitudin posuere nunc. Nam nec blandit ligula. In sed dictum lacus, sed rhoncus felis. Proin magna nulla, posuere nec est non, auctor ullamcorper eros.

Nam pellentesque augue id nisl faucibus fermentum. Curabitur vulputate libero nisl, sit amet luctus mi blandit quis. In tellus sapien, venenatis eu gravida ut, sodales ut quam. Maecenas fringilla tempor arcu, quis eleifend ex blandit sit amet. Mauris placerat elementum velit sit amet dapibus. Aenean ut nunc id ipsum suscipit vulputate sed eget nulla. Vivamus vel odio mattis, mattis mauris id, ornare leo. Sed imperdiet lectus id mattis vulputate. Etiam tempus nisl ut nisl posuere, sed blandit eros sodales. Proin eu purus sagittis, mollis mi eget, varius ligula. Sed ligula lacus, laoreet at tristique in, tempus cursus ex. Ut viverra massa consequat, semper turpis at, hendrerit massa. Proin congue libero quis tempus dapibus. Nam at ullamcorper justo, id tincidunt lectus.

Donec iaculis non nulla eget aliquet. Aliquam eget justo justo. Ut augue libero, rutrum sed venenatis sed, tincidunt at nibh. Proin tincidunt erat tempus nunc consectetur, et interdum augue fringilla. Integer et dui at augue pharetra volutpat. Curabitur fringilla ultrices erat, eget sodales orci scelerisque quis. Ut non nibh et quam faucibus viverra. Phasellus fermentum eget nulla eget aliquet. Cras sollicitudin sit amet dui quis euismod. Praesent in urna nec lorem tempus interdum. Phasellus egestas ac elit non ultrices. Curabitur et turpis pretium, volutpat velit a, egestas ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse libero elit, facilisis ut magna vitae, scelerisque placerat ligula. Nam vel consequat arcu. Cras eleifend nec neque ut pharetra.

Mauris sed eros ut erat malesuada feugiat in luctus massa. Cras fringilla quam orci, sit amet convallis mi rhoncus vitae. Nullam ut commodo elit. Donec at elit justo. Suspendisse quis euismod mauris. Sed rutrum nisi sapien, at commodo sapien laoreet ut. Mauris tortor dui, congue eget lorem sit amet, rhoncus congue elit. Duis a ipsum metus. Donec in eleifend sapien, in feugiat turpis. Etiam lobortis turpis eget arcu viverra commodo. Vivamus id quam vel risus tempor tempor. Suspendisse quis mi et massa sollicitudin commodo eu nec nibh. Fusce accumsan odio fringilla mi porta semper eget in eros.

Integer vel faucibus ante, vitae vulputate lorem. Nam facilisis, sem at scelerisque pharetra, ex justo efficitur nibh, eu tincidunt turpis tortor at erat. Sed ut vehicula tortor, in fringilla elit. Praesent in efficitur nulla. Duis ac ante odio. Etiam vitae consectetur sapien. Aenean dignissim semper eros, fringilla tincidunt tellus. Cras auctor vel nibh eget pharetra. Nam viverra, magna a hendrerit mattis, urna libero tempor velit, in accumsan lacus felis ut felis. Pellentesque molestie urna facilisis ante bibendum, quis consectetur massa luctus. Suspendisse cursus est purus, vitae accumsan nulla volutpat vitae. Proin sed nulla id ante imperdiet tincidunt varius in erat. </p>
  </div>
</body>
</html>
